<h1>Doanh thu theo tháng trong năm</h1>
<div class="container">
  <div class="bar">
    <ngx-charts-bar-vertical-2d
      [results]="data"
      [xAxisLabel]="'Doanh thu theo tháng trong năm 2022'"
      [legendTitle]="'Loại doanh thu'"
      [legend]="true"
      [showXAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="true"
    ></ngx-charts-bar-vertical-2d>
  </div>

  <div class="line">
    <ngx-charts-line-chart
      [results]="data2"
      [xAxisLabel]="'Doanh thu theo tháng trong năm 2022'"
      [legendTitle]="'Loại doanh thu'"
      [legend]="true"
      [showXAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
    >
    </ngx-charts-line-chart>
  </div>
</div>

<h1>Doanh thu theo tuần</h1>
<div class="chart-week">
  <div class="bar-week">
    <ngx-charts-bar-vertical-2d
      [results]="dataweek"
      [xAxisLabel]="'Doanh thu theo tuần'"
      [legendTitle]="'Loại doanh thu'"
      [legend]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="true"
      [groupPadding]="2"
      [customColors]="[
        {
          name: 'Doanh thu gộp',
          value: '#44bd32'
        },
        {
          name: 'Doanh thu giảm',
          value: '#1e3799'
        },
        {
          name: 'Doanh thu ròng',
          value: '#ff9f1a'
        }
      ]"
    ></ngx-charts-bar-vertical-2d>
  </div>
  <div class="line-week">
    <ngx-charts-line-chart
      [results]="dataweek2"
      [xAxisLabel]="'Doanh thu theo tuần'"
      [legendTitle]="'Loại doanh thu'"
      [legend]="true"
      [showXAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [customColors]="[
        {
          name: 'Doanh thu gộp',
          value: '#44bd32'
        },
        {
          name: 'Doanh thu giảm',
          value: '#1e3799'
        },
        {
          name: 'Doanh thu ròng',
          value: '#ff9f1a'
        }
      ]"
    >
    </ngx-charts-line-chart>
  </div>
</div>
